<table id="example" class="display" cellspacing="0" width="100%">
   <thead><tr><th>Name</th><th>Interests</th><th>UniqueCode</th></tr></thead>
   <tbody>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Sam</td><td>site</td><td>519</td></tr>
      <tr><td>Ashi</td><td>cooking</td><td>519</td></tr>
      <tr><td>krish</td><td>Medicine</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
      <tr><td>Pavani</td><td>crafting</td><td>519</td></tr>
   </tbody>
</table>