.showCraftView{
   width:100%;height:100%;background-color: #FFFEF6;
}
.hideCraftView{
    display:none;
}
.homeButton{
	width: 7%;
    //height: 10%;
    border: none;
    font-size: 100%;
    background-color: #d54d5c;
    float: right;
    margin-right:1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logoView{
	background-image: url('../../assets/logo.png');
    height: 7%;
    //width: 62%;
    background-size: 23%;
    margin-left: 39%;
    background-repeat: no-repeat;
}

.shopView{
    background-image: url('../../assets/growhome.jpg');
    height: 90vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.shopButton{
    width: 7%;
    border: none;
    font-size: 100%;
    background-color: #d54d5c;
    /* float: left; */
    /* margin-right: 1px; */
    padding-top: 10px;
    margin-top: 1%;
    margin-left: 51%;
    padding-bottom: 10px;
}