<!-- <div style="width:100%;height:100%;background-color: #FFFEF6;" *ngIf=globalVariableService.craftView> -->
<div [ngClass]="(globalVariableService.craftView)?'showCraftView':'hideCraftView'">

	<div style="height:2%;width:100%;">
	   <button class="homeButton" (click)="goToHome()">Home</button>
	</div>
	<div class="logoView"></div>
	<div class="shopView">
		<div style="padding-top: 1%;font-size: -webkit-xxx-large;float: right;margin-right: 15%;"> Make your home sweet </div>
		<!-- <a [routerLink]="['shopMenu']" ><button class="shopButton" (click)="goToShopMenu()">Shop Now</button></a> -->
		<a [routerLink]="['productMenu']" ><button class="shopButton" (click)="goToProductMenu()">Shop Now</button></a>
		<!-- <button class="shopButton" (click) ="goToShopView()">Shop Now</button> -->
	</div>
</div>
<router-outlet></router-outlet>