.mainNav {
  background: #000;
  height: 7%;
  position:relative;
}

ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  margin: 1% 0% 0% 0%;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: green;
}

ul li a:hover.active {
  background-color: green;
}

li.active{
  background-color: yellow;
}