<!-- <div style="border: 1px inset;text-align: center;padding: 5% 8% 8% 8%;">
	<div class="welcomeView">
		Welcome to my page!
	</div>
	<form class="formView" (submit)="loginUser($event)">
		<div class="input">
		   <label>username</label>
		   <input type="text" placeholder="username">
		</div>
		<div class="input">
		   <label>password</label>
		   <input type="password" placeholder="password">
		</div>
		<div class="input">
		   <input type="submit" value="login">
		</div>
	</form>
</div> -->
<div class="loginView">
   <div class="loginBox">
   	  <div class="welcomeMessage">
   	  	WELCOME TO MY PAGE
   	  </div>
   	  <div class="title"></div>
   	  <div class="loginFields">
   	    <form (submit)="loginUser($event)">
	   	    <div class="loginItem">
	             <i class="fa fa-user" style="padding:10px;margin-left: 5px;opacity: 0.5;"></i>
	             <input type="text" placeholder="User Name" style="border:none;font-size: 15px;margin-left: 12px;">
	   	    </div>
		   	<div class="loginItem">
	             <i class="fa fa-user" style="padding:10px;margin-left: 5px;opacity: 0.5;"></i>
	             <input type="password" placeholder="Password" style="border:none;font-size: 15px;margin-left: 12px;">
	   	    </div>
		   	<div class="loginSubmit">
		   	   <input type="submit" class="submit" value="Sign In">
		   	</div>
	    </form>
   	  </div>
   	  <div class="forgotPasswordFields">
           <div class="forgotPassword">Forgot your password?</div>
           <div class="newCustomer" (click)="register($event)">New Customer Registration</div>	
   	  </div>
   	  <div class="poweredByLogo"></div>
   </div>
</div>