.popstand{
    background-image: url('../../assets/popstand.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 30%;
    background-size: 100%;
    margin-left: 39%;
}
.popsticks{
    background-image: url('../../assets/popsticks.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 30%;
    background-size: 100%;
    margin-left: 39%;
}
.popdoll{
    background-image: url('../../assets/popdoll.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 30%;
    background-size: 100%;
    margin-left: 39%;
}
.cupmaker{
    background-image: url('../../assets/cupmaker.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 30%;
    background-size: 100%;
    margin-left: 39%;
}
.jarmaker{
    background-image: url('../../assets/jarmaker.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 30%;
    background-size: 100%;
    margin-left: 39%;
}
.insectcup{
    background-image: url('../../assets/insectcup.jpg');
    background-repeat: no-repeat;
    height: 23%;
    width: 30%;
    background-size: 100%;
    margin-left: 39%;
}
