<div style="height:100%;width:70%;float: none;
    display: block;
    margin: 0 auto;margin-top: 2%;--rowNum: 10;
  --colNum: 3;
  --gridHeight: 120px;">
  <div class="container">
    <div class ="sampleEvent">
	    <div class="popstand grid-item" id="popstand" (mouseenter)='hoverView($event)'>
	    <div  *ngIf="_itemHovered" class="hoverViewContainer">
				<button (click)="showDialog = !showDialog" class="btn">Open</button>
		</div>
		</div>
		<div class="popsticks grid-item" id="popsticks" (mouseenter)='hoverView($event)'>
		<div  *ngIf="_itemHovered" class="hoverViewContainer">
				<button (click)="showDialog = !showDialog" class="btn">Open</button>
		</div>
		</div>
		<app-dialog [(visible)]="showDialog">
		<h1 *ngIf="currentObject">{{imagesObject[currentObject].name}}</h1>
		<div *ngIf="currentObject">
			<img src="{{imagesObject[currentObject].src}}">
		</div>
		<button (click)="showDialog = !showDialog" class="btn">Close</button>
	    </app-dialog>
    </div>
  </div>
</div>
