<!-- core/navbar.component.html -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul  style="list-style-type: none;" class="nav navbar-nav">
            <li style="float: left;margin-right: 16px;font-size: large;"><a style="text-decoration: none;" [routerLink]="['tasks']">Go To Tasks Page</a></li>
            <li style="float: left;margin-right: 16px;font-size: large;"><a style="text-decoration: none;" [routerLink]="['listview']"> Go To list page</a></li>
        </ul>
    </div>
</nav>
