<!-- core/navbar.component.html -->
  <div class="mainNav">
    <ul>
      <li ><a  class="link" [routerLink]="['tasks']">Todos</a></li>
      <li ><a  class="link" [routerLink]="['listview']">ListView</a></li>
      <li ><a  class="link" [routerLink]="['persons']">Persons</a></li>
      <li ><a  class="link" [routerLink]="['carousel']">Carousel</a></li>
      <li ><a  class="link" [routerLink]="['DataTable']">DataTables</a></li>
      <li ><a  class="link" [routerLink]="['highcharts']">HighCharts</a></li>
      <li ><a  class="link" [routerLink]="['movablegrid']">GridControls</a></li>
      <li ><a  class="link" [routerLink]="['dragDrop']">DragDrop</a></li>
    </ul>
 </div>
