<!-- core/navbar.component.html -->
  <div class="mainNav">
    <ul>
      <li ><a  [routerLink]="['tasks']">Todos</a></li>
      <li ><a  [routerLink]="['listview']">ListView</a></li>
      <li ><a  [routerLink]="['persons']">Persons</a></li>
      <li ><a  [routerLink]="['carousel']">Carousel</a></li>
      <li ><a  [routerLink]="['DataTable']">DataTables</a></li>
      <li ><a  [routerLink]="['highcharts']">HighCharts</a></li>
      <li ><a  [routerLink]="['movablegrid']">GridControls</a></li>
      <li ><a  [routerLink]="['dragDrop']">DragDrop</a></li>
      <li ><a  [routerLink]="['converter']">Converter</a></li>
    </ul>
 </div>
