.list-products {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
}

.list-product {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
