<div class="mainToolbar">
<div class="toolbarContainer">
	<div class="regionBox margin-8 left">
		<img class="region-title" 
		style="width:100px;height:40px;object-fit: contain;vertical-align: middle;" 
		src="/assets/customer_logo.png">
	</div>
	<div class="locationContainer">
		
	</div>
	<div class="dateTimeFields margin-8 left">
		<div class="curTime left">11:15 am IST</div>
		<div class="curDate left">Mar 24, 2018</div>
	</div>
	<div class="toolbarRightSectionContainer">
		<div class="languagePicker margin-8 left">
		  <div class="languageIcon"></div>
		  <div class="languageText">Eng</div>
		  <div class="languageInputIcon"></div>
		</div>
		<div class="notificationContainer margin-8 left">
			<svg-icon src="/assets/notifications_icon.svg"></svg-icon>
		</div>
		<div class="settingsContainer margin-8 left" (click)="showSettingsTab = !showSettingsTab">
			<svg-icon src="/assets/settings_icon.svg"></svg-icon>
			<app-dialog [showSettingsMenu]="showSettingsTab">
			    <div style="display:grid;">
					<div class="userProfileMenu left">
						<div class="userPic"></div>
						<div class="userTitles">
							<div class="userTitle">CDP Operator</div>
						    <div class="userRole">Operator</div>
						</div>
					</div>
					<div class="settingsLink profileLink left">
						<i class="fa fa-cog settingsMenuIcons"></i>
						<div class="settingsMenuItem" (click)="settingsTabSelected($event)">Settings</div>
					</div>
					<div class="advancedConfigurationLink profileLink left">
					    <i class="fa fa-file-text-o settingsMenuIcons"></i>
					    <div class="settingsMenuItem">Advanced</div>
					</div>
					<div class="signOut profileLink left">
					    <i class="fa fa-sign-out settingsMenuIcons"></i>
					    <div class="settingsMenuItem">Sign Out</div>
					</div>
				</div>
			</app-dialog>
		</div>
		<div class="helpDoc margin-8 left">
			<svg-icon src="/assets/help_icon_circle_filled.svg"></svg-icon>
		</div>
		<div class="toolbarAppLogo margin-8 left">
			
		</div>
	</div>
</div>
<div class="toolbarMenuSectionContainer">
	<ul class="toolbar-menu-section">
		<li class="toolbar-menu-item active">Dashboard</li>
		<li class="toolbar-menu-item">Map view</li>
		<li class="toolbar-menu-item">Reports</li>
		<li class="toolbar-menu-item">Events</li>
		<li class="toolbar-menu-item">Policies</li>
		<li class="toolbar-menu-item">Users</li>
		<li class="toolbar-menu-item">Regions</li>
		<li class="toolbar-menu-item">Sop</li>
	</ul>
</div>
	
</div>
<div id="mapid"></div>
<!-- <div *ngIf="showSettingsPage">
  <app-settings-page></app-settings-page>
</div>
<div *ngIf="showMapView">
  <div id="mapid"></div>
</div> -->